@model tmc.Models.MovieViewModel

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var banner_url = "https://image.tmdb.org/t/p/w1280" + Model.Movie.backdrop_path;
    <div class="w-100 h-100 position-fixed fixed-top" style='background: linear-gradient(
                     rgba(0,0,0, .5), 
                     rgba(0,0,0, .5)), url(@banner_url); background-size: cover; z-index: -1'>        
    </div>
}

<div class="d-flex flex-column container">
    <div>
        <a class="text-warning" asp-action="Index">Back to List</a>
    </div>
    <div class="movie-details">
        @{var poster_url = "https://image.tmdb.org/t/p/w300" + Model.Movie.poster_path;
            <img src="@poster_url" alt="@Model.Movie.title" style="grid-area: poster" />
        }
        <div class="d-flex flex-column justify-content-between p-3 align-items-start">
            <h4 class="text-warning">@Model.Movie.title</h4>
            <h5 style="margin-bottom:12px">@Model.Movie.tagline</h5>
            <div class="movie-watchlist">
                <div class="movie-rating">@Model.Movie.vote_average</div>
                @if (Model.Watchlist is null)
                {
                    <a class="btn btn-success" asp-action="AddToWatchlist" asp-route-id="@Model.Movie.id">
                        <i class="far fa-bookmark"></i>
                        Add to Watchlist
                    </a>
                }
                else
                {
                    <a class="btn btn-secondary" asp-action="RemoveFromWatchlist" asp-route-id="@Model.Movie.id">
                        <i class="far fa-bookmark"></i>
                        Remove From Watchlist
                    </a>
                }

                <div id="half-stars">
                    <form asp-action="RateMovie">
                        <input hidden asp-for="@Model.Movie.id" />
                        <div class="rating-group" style="display: inline-flex">
                            <input class="rating__input rating__input--none" checked id="rating-0" value="0" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="0 stars" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--none fa fa-ban"></i></label>
                            <label aria-label="0.5 stars" class="rating__label rating__label--half" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star-half"></i></label>
                            <input class="rating__input" id="rating-05" value="1" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="1 star" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" id="rating-10" value="2" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="1.5 stars" class="rating__label rating__label--half" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star-half"></i></label>
                            <input class="rating__input" id="rating-15" value="3" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="2 stars" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" id="rating-20" value="4" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="2.5 stars" class="rating__label rating__label--half" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star-half"></i></label>
                            <input class="rating__input" id="rating-25" value="5" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="3 stars" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" id="rating-30" value="6" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="3.5 stars" class="rating__label rating__label--half" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star-half"></i></label>
                            <input class="rating__input" id="rating-35" value="7" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="4 stars" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" id="rating-40" value="8" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="4.5 stars" class="rating__label rating__label--half" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star-half"></i></label>
                            <input class="rating__input" id="rating-45" value="9" type="radio" asp-for="MovieRating.Rating">
                            <label aria-label="5 stars" class="rating__label" asp-for="MovieRating.Rating"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" id="rating-50" value="10" type="radio" asp-for="MovieRating.Rating">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <p style="font-size:1.2em; font-weight: 300; margin-bottom: 20px">@Model.Movie.overview</p>
        </div>
    </div>
    <h4 class="text-warning">Recommendations</h4>
    <div class="card-deck">
        @foreach (var movie in Model.RecommendedMovie.results)
        {
        <a asp-action="Details" asp-route-id="@movie.id">
            <div class="card mb-4 border-0" style="min-width: 120px; max-width:180px">
                @if (movie.poster_path == null)
                {
                    <img class="movie-img" alt="img" src="~/img/no-image.jpg" />
                }
                else
                {
                    var image_path = "https://image.tmdb.org/t/p/w300" + movie.poster_path;
                    <img class="card-img" src="@image_path" alt="poster image" />
                }
            </div>
        </a>
        }
    </div>
    <div>
        <a class="text-warning" asp-action="Index">Back to List</a>
    </div>
</div>



